* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(224, 234, 235);
}

header {
  width: 100%;
  height: 600px;
  background-image: url(../img/Banner1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

header .textos {
  margin-top: 120px;
}

header .titulo {
  font-size: 80px;
}

header .subTitulo {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px;
}

.acercaDe .boton {
  display: inline-block;
  padding: 10px;
  width: 150px;
  font-weight: 300;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  margin-top: 20px;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px;
}

.tituloDesarrollo {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.slogan {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.parrafos {
  margin-bottom: 10px;
  font-weight: 300;
  text-align: justify;
  color: rgb(27, 25, 25);
  line-height: 2;
}

.codigo {
  color: darkblue;
}

.descripcion {
  text-align: center;
}

.galeria {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.imagenes {
  width: 20%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.videos {
  width: 600px;
  height: 400px;
  align-self: auto;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sesgoArriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 20vh 70vw 0 0;
  border-style: solid;
  border-color: rgb(224, 234, 235) transparent;
}

.sesgoAbajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: rgb(224, 234, 235) transparent;
}

.cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}

.card {
  margin: 20px;
  width: 30%;
  height: 220px;
  text-align: center;
  padding: 15px;
  box-shadow: 10px 10px 10px 0 rgb(65, 61, 61);
}

footer {
  background-color: rgb(83, 82, 82);
}

/* Media Queries (responsive design) */

/* Cuando la pantalla tenga un ancho menor a 900px: */
@media screen and (max-width: 900px) {
  .card {
    width: 50%;
  }
}

/* Cuando la pantalla tenga un ancho menor a 600px: */
@media screen and (max-width: 600px) {
  header .textos {
    margin-top: 120px;
  }

  header .titulo {
    font-size: 70px;
  }

  .imagenes {
    flex-grow: 1;
    /* solo se usa flex-grow cuando al elemento se le asignaron las dimensiones en porcentaje */
  }

  .card {
    width: 50%;
  }

  .imagenes {
    width: 20%;
    height: 20%;
  }

  .cards img {
    width: 100px;
    height: 100px;
  }
}

/* Cuando la pantalla tenga un ancho menor a 300px: */
@media screen and (max-width: 300px) {
  header .textos {
    margin-top: 90px;
  }

  header .titulo {
    font-size: 40px;
  }

  header .subTitulo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .slogan {
    font-size: 10px;
  }

  .imagenes {
    width: 15%;
    height: 15%;
  }
  .cards img {
    width: 80px;
    height: 80px;
  }
}
